*
{
    text-align: center;
    font-family: 'Mansalva', cursive;
}
body
{
    background-color: rgb(213, 246, 247);
}
.paragraphStyle
{
    font-size: 20px;
}
.subHeadingStyle
{
    font-size: 30px;
}

a
{
    color: rgba(0, 0, 0, 0);
} */

/* Style the navigation bar */
.navbar
{
    width: 100%;
    background-color:rgb(194, 225, 226);
    overflow: auto;
}
  
/* Navbar links */
.navbar a
{
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}
  
/* Navbar links on mouse-over */
.navbar a:hover
{
    background-color: rgb(196, 227, 228);
}
  
/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) 
{
    .navbar a 
    {
        float: none;
        display: block;
    }
}